.borderless td, .borderless th {
    border: none;
}

.dot {
    height: 10px;
    width: 20px;
    background-color: #bbb;
    border-radius: 100%;
    display: inline-block;
  }

  .Merged {
    color: orange;
    /* other css property you want to add */
  }
  
  .NotMerged {
    color: red;
    /* other css property you want to add */
  }